* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: arial, sans-serif;
    line-height:  1.6 ;
    background-color: #f9f9f9;
    color: #333;
}

.header {
    background-color: #0d47a1;
    color: white;
    text-align: center;
    padding: 40px 20px;
}

.beneficios {
    display: flex;
    border-top: 2px solid #ccc;
    border-bottom: none;
    background-color: #fff;
}

.texto-beneficios {
    width: 70%;
    padding: 30px;
}

.titulo-beneficios {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e3f2fd;
}

.participação {
    display: flex;
    border-top: none;
    border-bottom: 2px solid #ccc;
    background-color: #fff;
}

.item-participação, .titulo-participação {
    width: 50%;
    padding: 30%;
}

.titulo-particpação {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9;
}

.footer {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    background-color: #0d47a1;
    color: white;
    padding: 20px;
}

.footer a{
    color: white;
    text-decoration: none;
    width: 120px;
    text-align: center;
}

.footer a:hover{
    text-decoration: underline;
}